.main {
  display: none;
  position: relative;
  z-index: 1;
  width: 90vw;
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 5vh;

  &__inner {
    min-height: 90vh;
    padding-bottom: 4rem;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 1rem -1rem;

    &-inner {
      width: 100%;
      padding: 1rem;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    //10vh - top + bottom margin, 76px - footer + nav height, 4rem - margin for main section
    // min-height: calc(100vh - 10vh - 78px - 4rem); 
    width: 100%;
    background: #303030aa;
    box-shadow: -.3rem .3rem .5rem .1rem #000;
    padding: 2rem;
  }

  &-enter {
    display: block;
    margin-top: 0vh;
    opacity: 0;

    &-active {
      transition: 500ms;
      margin-top: -95vh;
      opacity: 1;
    }

    &-done {
      display: block;
      margin-top: -95vh;
    }
  }
}

