.profile {
  width: 30rem;
  position: relative;
  max-height: max-content;
  margin: 0 1rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background: #303030aa;
  box-shadow: -.3rem .3rem .5rem .1rem #000;
}